@import url(./sidebar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}



@font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url(/assests/fonts/Manrope-Regular.ttf);
}


@font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url(/assests/fonts/Manrope-Medium.ttf);
}


@font-face {
    font-family: Manrope;
    font-weight: 600;
    src: url(/assests/fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url(/assests/fonts/Manrope-Bold.ttf);
}

body{
    background-color: var(--main-bg);
}

.container{
    display: flex;
}


.header{
    width: calc(100%-310px);
    height: 103px;
    background-color: var(--container-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-name{
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color);
    margin-left: 30px;
}

.header-account{
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin-right: 39px;
    gap:12px;
}

.header-photo{
    margin-right: 8px;
}

.header-main-container{
    width: 100%;
}

main{
    margin: 20px 30px;
}

.main-search{
    width: 360px;
    height: 40px;
    background-color:var(--container-bg);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.main-search>input{
    border: none;
    background: none;
    width: 100%;
    outline: 0;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}

.search-input::placeholder{
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}

.container-toggle{
    display: flex;
    justify-content: space-between;
}

/* Cards */

.cards-container{
    margin-top: 40px;
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 253px;
    height: 293px;
    border-radius: 10px;
    background: var(--container-bg);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
}

.card>div{
    position: relative;
}

.card-image{
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-image:hover{
    scale: 1.1;
}

.video-circle{
    position: absolute;
    top: 42px;
    left: 95px;
    transition: all 0.3s ease;
}

.video-circle:hover{
    cursor: pointer;
    scale: 1.08;
}

/* 
.card-image:hover{
    scale: 1.05;
} */

.card-info{
    margin: 10px 15px;
}

.exam-info{
    display: flex;
    justify-content: space-between;
}

.question-number,.teacher-name{
    font-size: 12px;
    font-weight: 700;
    color: var(--data-color);
}

.exam-name{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}


.card-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.start-test{
    color: white;
    width: 102px;
    height: 33px;
    border-radius: 5px;
    background: #675AF0;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
    margin-top: 42px;
}

.start-test:hover{
    background-color: #5247c2;
    cursor: pointer;
}


.cards-container{
    display: flex;
    justify-content: space-between;
}
