@import url(./sidebar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
    /* color:#FFFFFF; */
    text-decoration: none;
}

:root{
    --text-color: black;
    /* --text-color: white; */

    --purple-color:#675AF0;

    --title-color: #675AF0;
    /* --title-color: white; */

    --data-color: red;
    /* --data-color: white; */

    --main-bg: #F6F6F6;
    /* --main-bg: #3B323C; */

    --container-bg: white;
    /* --container-bg: #2B2A2A; */
}

@font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url(/assests/fonts/Manrope-Regular.ttf);
}


@font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url(/assests/fonts/Manrope-Medium.ttf);
}


@font-face {
    font-family: Manrope;
    font-weight: 600;
    src: url(/assests/fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url(/assests/fonts/Manrope-Bold.ttf);
}


body{
    background-color: var(--main-bg);
}

.container{
    display: flex;
}

.header-main-container{
    min-height: 100vh;
    width: calc(100% - 276px);
    margin-left: 276px;
}

.header{
    display: flex;
    background-color: var(--container-bg);
    height: 90px;
    justify-content: space-between;
}

#span_header{
    padding-left: 40px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
}

.header-account{
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap:12px;
    margin-right: 10px;
}

.header-photo{
    margin-right: 8px;
}

.arrow.active{
    transform: rotate(180deg);
    transition: 0.5s;
}

.header .arrow:hover{
    cursor: pointer;
}

/* main */

main{
    margin: 20px 30px;
}

.main-search{
    width: 360px;
    height: 40px;
    background-color:var(--container-bg);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.main-search>input{
    border: none;
    background: none;
    width: 100%;
    outline: 0;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}

.search-input::placeholder{
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}


.container-toggle{
    display: flex;
    justify-content: space-between;
}

.main-menu-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 15px;
}

.main-type,.main-price{
    width: 163px;
    height: 40px;
    background-color:var(--container-bg);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-type:nth-child(1){
    padding-left: 15px;
}
.main-price>span{
    padding-left: 15px;
}

.main-type,.main-price img{
    padding-right: 15px;
}

/* Cards */

.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.card{
    width: 253px;
    height: 293px;
    border-radius: 10px;
    background: var(--container-bg);
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
}

.start-test a{
    color: white;
}
.card-image{
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* 
.card-image:hover{
    scale: 1.05;
} */

.card-info{
    margin: 10px 15px;
}

.exam-info{
    display: flex;
    justify-content: space-between;
}

.question-number,.teacher-name{
    color: var(--data-color);
    font-size: 12px;
    font-weight: 700;
}

.exam-name{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}

.exam-price{
    color: var(--data-color);
    margin-top: 24px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

.card-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.start-test{
    width: 102px;
    height: 33px;
    border-radius: 5px;
    background: #675AF0;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.start-test:hover{
    background-color: #5247c2;
    cursor: pointer;
}

.more-details{
    width: 102px;
    height: 33px;
    border-radius: 5px;
    background: none;
    border-radius: 5px;
    color:var(--title-color);
    border: 2px solid var(--title-color);
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.more-details:hover{
    background-color: #fff;
    cursor: pointer;
    color:#2B2A2A
}

.more-details a{
    color: var(--title-color);
}
.cards-container{
    display: flex;
    justify-content: space-between;
}
