@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #1d2634;
}

.dark-theme{
    --primary-color: #1d2634;
    --secondary-color: #edf2fc;
}

#sidebar{
    width: 20%;
    /* grid-area: sidebar; */
    height: 100vh;
    /* overflow-y: auto; */
    /* transition: all 0.5s; */
    background-color: var(--secondary-color);
}

.mode{
    width: 30px;
    cursor: pointer;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
    /* margin-bottom: 30px; */
}

.sidebar-title > span {
    display: none;

}

.sidebar-list{
    /* padding: 0; */
    padding: 30px;
    list-style: none;
    /* list-style-type: none; */
}

.sidebar-list-item{
    width: 170px;
    padding: 20px;
    font-size: 18px;
}

.sidebar-list-item:hover{
    transition: 0.5s;
    margin: 0px 10px;
    border-radius: 8px;
    background-color: #675AF0;
    cursor: pointer;
    
}

#span{
    font-size: 25px;
    font-weight: 700px;
}

.container{
    display: flex;
 
}

.header{
    background-color: #1d2634;
    height: 40px;
    padding: 30px;
}

.mode p{
    width: 100px;
    font-size: 15px;
    padding: 5px 20px;
}

.rectangle{
    width: 60px;
    background-color:#675AF0;
    margin: 5px 20px;
    border-radius: 9px;
    padding: 3px ;
    
}

.circle{
    width: 22px;
    height: 22px;
    background-color: #1d2634;
    border-radius: 11px;
    margin-left: 37px;
    display: block;
}

.main{
    background-color:#3B323C;
    height: 607px;
    display: flex;
    justify-content: space-around;
    /* padding-top:25px ; */
}

.article{
    flex-grow: 1;
}

.about,.prize{
    width: 550px;
    height: 250px;
    border-radius:12px;
    background-color: #302B2B;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}


/* .sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
} */